    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          <span>
            <i class="fab fa-bitcoin fa-lg" style="font-size:42px"></i>
           <h1 style="display: inline;">Profile</h1></span>
            <hr>
           
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active text-capitalize"> {{user.lastName}} </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
   {{!-- {{user.id}} --}}
    
    <section class="content">
      <div class="container-fluid">

        <div class="row profile animate__animated animate__fadeInLeft">
           

         <div class="col-sm-4">
             <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="{{user.image}}"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center text-capitalize"> {{user.fullName}}</h3>

                <p class="text-muted text-center">{{user.email}}</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Account Number</b> <a class="float-right">{{user.account}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Account Created</b> <a class="float-right"></a>
                  </li>
                  <li class="list-group-item">
                    <b>Status</b> <a class="float-right">{{user.status}}</a>
                  </li>
                </ul>

                <a href="#" class="btn btn-primary btn-block"><b>Update</b></a>
              </div>
              <!-- /.card-body -->
            </div>
            </div>

            {{!-- <div class="col-md-6">
                  <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">About Me</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-book mr-1"></i> Education</strong>

                <p class="text-muted">
                  B.S. in Computer Science from the University of Tennessee at Knoxville
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                <p class="text-muted">Malibu, California</p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                <p class="text-muted">
                  <span class="tag tag-danger">UI Design</span>
                  <span class="tag tag-success">Coding</span>
                  <span class="tag tag-info">Javascript</span>
                  <span class="tag tag-warning">PHP</span>
                  <span class="tag tag-primary">Node.js</span>
                </p>

                <hr>

                <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
              </div>
              <!-- /.card-body -->
         </div>
                
            </div> --}}


       
          <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    </section>




   




       